@{
    Layout = null;
}
<div class="row white-bg dashboard-header" ng-view="datatables">
    <div class="div-title">
        <h3>@L("系统配置")</h3>
    </div>
    <div class="div-buttons">
        <form role="form" class="form-inline ng-pristine ng-valid">
            <div class="form-group">
                <label class="sr-only">搜索</label>
                <input type="text" ng-model="domain.DisplayName" placeholder="请输入名称" class="form-control ms-width-150">
            </div>
            <div class="form-group">
                <button class="btn btn-white" ng-click="reset()">重 置 </button>
                <button class="btn btn-success" ng-click="query()">查 询 </button>
                <button class="btn btn-white" ng-click="addOrUpdate('update')">修 改 </button>
                <button class="btn btn-warning" ng-click="clearAllCache()">清除全部缓存 </button>
            </div>
        </form>
    </div>
    <table angular-table="globalsettings" class="table table-striped table-bordered table-hover">
        @*<thead>
            <tr>
                <th rowspan="1" class="text-center">Name</th>
                <th colspan="3" class="text-center">HR Information</th>
                <th colspan="4" class="text-center">Contact</th>
                <th colspan="5" class="text-center">Contact</th>
            </tr>
            <tr>
                <th>Position</th>
                <th>Salary</th>
                <th>Office</th>
                <th>Extn.</th>
                <th>E-mail</th>
                <th>E-mail</th>
                <th>E-mail</th>
                <th>E-mail</th>
                <th>E-mail</th>
                <th>E-mail</th>
                <th>E-mail</th>
                <th>E-mail</th>
            </tr>
        </thead>*@
    </table>
</div>

