@using System.Text;
@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using Mobet.Demo.ApiDocument.Areas.HelpPage
@using Mobet.Demo.ApiDocument.Areas.HelpPage.Models
@model IGrouping<HttpControllerDescriptor, ApiDescription>

@{
    var controllerDocumentation = ViewBag.DocumentationProvider != null ?
        ViewBag.DocumentationProvider.GetDocumentation(Model.Key) :
        null;

    var title = controllerDocumentation == null
        ? "Œ¥≈‰÷√Œƒµµ±ÍÃ‚"
        : controllerDocumentation.Split('|')[0];

    var description = controllerDocumentation == null
        ? "Œ¥≈‰÷√Œƒµµ√Ë ˆ"
        : controllerDocumentation.Split('|')[1];
}

<div class="mod tab-category-item">
    <h3>
        <a href="help/category?controllerName=@(Model.Key.ControllerName.ToLower())">@title</a>
    </h3>
    <p>@description</p>
</div>
