@{
    Layout = null;
}
<div class="row white-bg">
    <nav class="navbar navbar-static-top navbar-left  border-bottom" role="navigation">
        <ul class="nav navbar-top-links navbar-left navbar-menu">
            <li>
                <a class="navbar-menu-button"  href="#">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#">
                    <i class="fa fa-sign-out"></i>退出
                </a>
            </li>
        </ul>
    </nav>
</div>