@{
    Layout = null;
}
<div id="intercom-container" class="intercom-container intercom-reset">
    <div id="intercom-launcher" class="intercom-launcher intercom-launcher-enabled  intercom-launcher-active " style="display: block;">
        <div class="intercom-launcher-button ">
            <div class="intercom-launcher-initials"></div>
        </div>
        <div class="intercom-launcher-badge"></div>
        <div class="intercom-launcher-preview">
            <div class="intercom-launcher-preview-body"></div>
            <div class="intercom-launcher-preview-caret"></div>
            <div class="intercom-launcher-preview-close"></div>
        </div>
    </div>
    <div id="intercom-messenger" class="intercom-messenger intercom-messenger-inactive" style="display:none;">
        <div id="intercom-loading" class="intercom-sheet intercom-sheet-loading  ">
            <div class="intercom-sheet-header">
                <div class="intercom-sheet-header-title-container">
                    <b class="intercom-sheet-header-title">明道团队</b>
                </div>
                <a class="intercom-sheet-header-button intercom-sheet-header-close-button" href="#">
                    <div class="intercom-sheet-header-button-icon"></div>
                </a>
            </div>
            <div class="intercom-sheet-body">
                <div class="intercom-sheet-spinner" style="display: none;"></div>
            </div>
            <div class="intercom-sheet-content">
            </div>
        </div><div id="intercom-conversations" class="intercom-conversations intercom-sheet  intercom-conversations-fetched        intercom-new-message-enabled    intercom-sheet-active ">
            <div class="intercom-sheet-header">
                <div class="intercom-sheet-header-title-container">
                    <b class="intercom-sheet-header-title">明道团队</b>
                </div>
                <a class="intercom-sheet-header-button intercom-sheet-header-close-button" href="#">
                    <div class="intercom-sheet-header-button-icon"></div>
                </a>
            </div>
            <div class="intercom-sheet-body">
                <div class="intercom-sheet-spinner"></div>
            </div>
            <div class="intercom-sheet-content intercom-conversations-content">
                <div class="intercom-sheet-content-container">
                    <div class="intercom-conversations-items">
                        <div class="intercom-conversations-item ">

                            <img src="https://static.intercomassets.com/avatars/300114/square_128/1024-pc3.png?1457059566" class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span class="intercom-relative-time">2周前</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                明道小助手

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary ">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        Hi __穆轻寒,
                                        明道还同步开发了移动端。当您不在电脑前的时候，一样可以处理工作事物。更有随时随地的push通知，不漏一条工作消息。 ios和安卓都支持。
                                        下载移动客户端

                                    </div>
                                </div>
                            </div>
                        </div><div class="intercom-conversations-item ">

                            <img src="https://static.intercomassets.com/avatars/295511/square_128/1.jpg?1450456271" class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span class="intercom-relative-time">2周前</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                Phil Ren

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary ">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        Hi __穆轻寒,
                                        【明道管理进步课程】2016春季版开启了  明道创始人任向晖携明道高管团队，面向明道用户分享互联网时代的协作和管理技能。
                                        3.4 下午 北京  3.12 下午 上海 3.19 下午 广州
                                        《高绩效团队的三个秘密》 《销售漏斗管理》 《提高客户满意度－业务前后台协作》 《知识的创建与共享平台的搭建》

                                        了解详情


                                    </div>
                                </div>
                            </div>
                        </div><div class="intercom-conversations-item ">

                            <img src="https://static.intercomassets.com/avatars/300269/square_128/1.jpg?1451383270" class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span class="intercom-relative-time">2周前</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                Cherry Xiao

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary ">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        亲，你不用睡觉么？
                                    </div>
                                </div>
                            </div>
                        </div><div class="intercom-conversations-item ">

                            <img src="https://static.intercomassets.com/avatars/295511/square_128/1.jpg?1450456271" class="intercom-conversations-item-admin-avatar">


                            <div class="intercom-conversations-item-body-container">
                                <div class="intercom-conversations-item-body">
                                    <div class="intercom-conversations-item-header">
                                        <div class="intercom-conversations-item-timestamp"><span class="intercom-relative-time">2周前</span></div>
                                        <div class="intercom-conversations-item-title-container">
                                            <div class="intercom-conversations-item-title">

                                                Phil Ren

                                            </div>
                                        </div>
                                    </div>
                                    <div class="intercom-conversations-item-summary ">
                                        <div class="intercom-conversations-item-readstate"></div>
                                        Hi __穆轻寒,
                                        我是明道创始人任向晖，感谢您使用明道。这是一个简洁而强大的互联网协作平台。您的团队可以在一个平台上实现流畅的内部沟通，任务协作和知识共享。
                                        想要释放出他们的力量，就从邀请您的同事开始吧!
                                        邀请同事
                                        P.S 别忘了下载明道手机App 也可立即观赏丰富的视频演示

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intercom-conversations-spinner"></div>
                </div>
                <div class="intercom-no-conversations">
                    <div class="intercom-no-conversations-icon"></div>
                    无对话
                </div>
            </div>

            <div class="intercom-sheet-footer intercom-conversations-footer">
                <a class="intercom-conversations-new-conversation-button" href="#"><i></i>新信息</a>
            </div>

        </div>
    </div>
</div>